
<style>
  #banner {
    margin-top: 30px;
    margin-bottom: -20px;
    width: 100%;
    background-color: #2D9AB7;
    padding-top: 30%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../old/images/parallax.jpg');"
  }
</style>

<div id="banner"></div>

<script>
  var randombgs=["../old/images/double.jpg", "../old/images/boats.jpg", "../old/images/coastal.jpg"]

  window.onload = funtion() {document.getElementById('banner').style.backgroundImage='url('+Math.floor(Math.random()*randombgs.length)]+')')}
</script>
