@charset "UTF-8";

/* Body */
body {
	
	font-family: Verdana, Calibri;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	background-color: navy;
	border-bottom: 1px solid black;
	z-index: 1;
}

header .logo {
	height: 45px;
	position: absolute;
	margin: 5px;
}

.navigation {
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	width: auto;
	float: left;
	margin-top: 15px;
	margin-bottom: auto;
	margin-left: 50px;
	letter-spacing: 2px;
}
nav {
	position: relative;
	right: 0;
	text-align: right;
	margin-left: 25px;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 20px;;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #9f9f9f;
}

.dropdown-content {
  display: none;
  width: 220px;
  right: 10px;
  padding: 10px;
  line-height: 30px;
  position: absolute;
  background-color: navy;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .tab a {
	color: #FFFFFF;
	text-decoration: none
}

.dropdown-content .tab:hover a {
	color: #9F9F9F;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
	display: block;
	
}

/* Parallax Section */
.banner {
	margin-top: 30px;
	width: 100%;
	background-color: #2D9AB7;
	background-image: url("../images/parallax.jpg");
	padding-top: 30%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}

/* Intro */

.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	float: left;
}
.intro .column h3 {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
	color:#FFFFFF;
}

.intro .column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
	color:#FFFFFF;
}

.intro {
	display: inline-block;
	width: 100%;
	background-color: navy;
}
.intro .logo {
	max-width: 75%;
	max-height: 100%;
}

/* Content */

.body {
	display: inline-block;
	clear: both;
	width: 100%;
}

.content {
	width: 46%;
	text-align: center;
	align-items: center;
	margin: 2%;
	float: left;
	background-color: #f2f2f2;
}

.content h3 {
	color: #B3B3B3;
	text-align: center;
}

.content p {
	color: #717070;
	max-width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
}

.content a {
	text-decoration: none;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 50%
}

.content .wrapper img {
	position: absolute; 
	height: 100%;
	left: 0;
	top:0;
	bottom: 0;
	overflow: hidden;
	object-fit: cover;
}

.weather-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 35vw
}

.weather-wrapper iframe {
	position: absolute;
	width: 100%; 
	height: 100%;
	left: 0;
	top:0;
	bottom: 0;
}

.content .cards {
	width: 100%;
	height: auto;
}


.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}

.associates {
	text-align: center;
	margin-bottom: 20px;
}

.copyright {
	width: 100%;
	height: auto;
	bottom: 0px;
	position: relative;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: Calibri, Verdana;
}

@media (max-width: 768px) {
	.column {
		width: 100%;
	}
	.content {
		width: 96%;
	}
	.intro .column h3 {
	margin-left: 30px;
	margin-right: 30px;
	}

.intro .column p {
	margin-left: 30px;
	margin-right: 30px;
	}
nav {
	width: 80%;
	margin: 0px;
	padding: 0px;
	}
nav ul li{
	margin-left: 10px;
	margin-right: 10px;
}
nav ul li a{
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
	.weather-wrapper {
		padding-bottom: 75%
	}
}
