---
layout: base
---

<div id="banner" style="
  margin-top: 30px;
  width: 100%;
  background-color: #2D9AB7;
  padding-top: 30%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../old/images/parallax.jpg');">
</div>

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	  {% include comments.html %}
    </div>
  </div>
</div>
